@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a {
  height: 21rem;
  width: 20rem;
  font-family: 'poppins', sans-serif;
  border: 5px solid #414141;
  border-radius: .7rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #2b2b2b;
  transition: 0.2s;
}

li a:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid black;
}

li a img {
  object-fit: contain;
  height: 14.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid lightgrey;
}

.content{
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}

/* below favorite class is not being implimented*/
.favorite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
}

.favorite.not {
  color: grey;
}

.stars {
  margin-bottom: 0.2rem;
}


.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.price {
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  background: white;
  padding: 0.3rem 100% 0 0;
  color: #414141;
  margin-top: 0.7rem;
  font-size: 1.1rem;
}
