



@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.body {
	color: #666666;
	font-size: 14px;
	font-family: 'poppins', sans-serif;
	line-height: 1.80857;
	font-weight: normal;
	overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0;
	font-weight: normal;
	position: relative;
	padding: 0 0 10px 0;
	font-weight: normal;
	line-height: normal;
	color: #111111;
	margin: 0
}



*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


button:focus {
	outline: none;
}



p {
    margin: 0px;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #212222;
}


img {
	max-width: 100%;
	height: auto;
}

:focus {
	outline: 0;
}


.lead {
	font-size: 18px;
	line-height: 30px;
	color: #767676;
	margin: 0;
	padding: 0;
}

.form-control:focus {
	border-color: #ffffff !important;
	box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}




.full {
	float: left;
	width: 100%;
}

.layout_padding {
	padding-top: 90px;
	padding-bottom: 90px;
}


.light_silver {
	background: #f9f9f9;
}

.theme_bg {
	background: #38c8a8;
}

.margin_top_30 {
	margin-top: 30px !important;
}





.blog_blue_bg .row {
    position: relative;
    z-index: 2;
}





.padding_right_15_inner {
	padding-right: 15px;
}

.padding_left_15_inner {
	padding-left: 15px;
}

.dark_bg {
    background: #0f0824;
}

.dark_bg h3 {
	color: #fff;
}

.white_font {
	color: #fff !important;
}

.grey_font {
	color: #79797a;
}



/** slider **/

.banner-slider {
    margin-top: 30px;
    background-image: url("/assets/banner_bg.png");
    width: 100%;
    min-height: 815px;
    background-size: cover;
}

#slider_main {
    margin-top: 70px;
    margin-left: 85px;
    margin-bottom: 0;
}

#slider_main img {
	width: 100%;
}

#slider_main .carousel-control-prev, #slider_main .carousel-control-next {
    width: 62px;
    height: 60px;
    background: #fffdfd;
    opacity: 1;
    font-size: 30px;
    color: #a91111;
}

#slider_main .carousel-control-prev:hover, #slider_main .carousel-control-next:hover,
#slider_main .carousel-control-prev:focus, #slider_main .carousel-control-next:focus {
   background: #ff0000;
   color: #fff;
}

#slider_main a.carousel-control-prev {
    position: absolute;
    left: -31px;
    top: 45%;
}

#slider_main a.carousel-control-next {
    position: absolute;
    left: -31px;
    top: 55%;
}

.slider_cont_section h4 {
    color: #006;
    font-size: 35px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.slider_cont_section h3 {
    font-size: 85px;
    color: #000;
    font-weight: 600;
    margin: -25px 0 25px 0;
    padding: 0;
    line-height: normal;
}

.slider_cont_section p {
    font-size: 17px;
    font-weight: 300;
    line-height: 32px;
    padding-right: 15px;
    color: #19449b;
}

.slider_cont_section {
    padding: 180px 98px 0;
}

.slider_cont_section p {
    margin-bottom: 60px;
}

.button_section a {
    width: 180px;
    height: 55px;
    float: left;
    background: #000;
    text-align: center;
    line-height: 55px;
    color: #fff;
    margin-right: 30px;
    font-weight: 300;
    font-size: 16px;
}

.button_section a:hover,
.button_section a:focus {
	background: #ff0000 !important;
    color: #fff;
}

.orange_color {
	color: #ff0000;
}

.heading h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 50px;
}

.blog_cont h4 {
    font-size: 32px;
    color: #2c2c2d;
    line-height: 40px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog_cont h3 {
    font-size: 50px;
    color: #2c2c2d;
    line-height: 50px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog_cont h5 {
    color: #79797a;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.blog_cont {
    padding-top: 30px;
}

.comment_form {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

.comment_form input {
    width: 100%;
    height: 70px;
    border: solid #767575 1px;
    margin: 10px 0;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 400;
}

.comment_form textarea {
    width: 100%;
    height: 160px;
    border: solid #767575 1px;
    margin: 10px 0 0;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 400;
}

.comment_form button {
    background: #e91818;
    float: left;
    width: 290px;
    height: 70px;
    margin-top: -10px;
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    border-radius: 90px;
}

.heading h4 {
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 0;
    padding: 0;
}

.reply_bt {
    width: 100px;
    background: #e71717;
    color: #fff;
    height: 25px;
    float: right;
    text-align: center;
    border-radius: 50px;
    margin: 22px 0;
}

.reply_bt:hover,
.reply_bt:focus {
	background: #111;
	color: #fff;
}

.contact_text h3 {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: -5px 0 0 0;
}

.contact_text h4 {
    color: #db2828;
    font-size: 15px;
    font-weight: 500;
    margin-top: -5px;
}

.contact_text p {
    color: #827f7f;
    font-size: 16px;
    line-height: 21px;
}

.comment_blog_line {
    margin-top: 25px;
    padding: 0 15px;
}

.blog_cont_2 {
    padding: 40px;
    box-shadow: 0 0px 45px -31px #000;
    margin-bottom: 0;
    background: #fff;
}

.blog_cont_2 h3 {
    font-size: 38px;
    color: #141615;
    line-height: 50px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.sublittle {
    color: #79797a;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
}



/**-- new resposive layout --**/


/**-- responsive container --**/


/**-- defalt  container --**/

.container {
	max-width: 1240px;
	width: 100%;
}



@media (min-width: 1200px) and (max-width: 1620px) {

.main-menu ul > li a {
    padding: 23px 10px 23px 10px;
    font-size: 15px;
}

.limit-box {
    margin: 27px 0 0;
}

.banner-slider {
    margin-top: 30px;
    background-image: url("/assets/banner_bg.png");
    width: 100%;
    min-height: auto;
    background-size: 100% 100%;
}

.slider_cont_section {
    padding: 10px 0 0;
}

.slider_cont_section h3 {
    font-size: 55px;
    color: #000;
    font-weight: 700;
    margin: -15px 0 25px 0;
    padding: 0;
    line-height: normal;
}

.slider_cont_section {
    padding: 15px 0 30px;
    margin-top: 90px;
}



}
