




<div class="body main-layout col-sm-12">
  <div class="banner-slider">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
              <div id="slider_main" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/jameswebb_1.jpg" alt="James Webb" />
                    </div>

                  </div>

              </div>
            </div>
            <div class="col-md-5">
              <div class="full slider_cont_section">
                  <h4>Find out about</h4>
                  <h3>James Webb Space Telescope</h3>
                  <p>
                  James Webb Space telescope is designed to look for depths that we can't see in naked human eyes.
                  Place in lagrange point or L2 point, James Webb Space telescope orbits the sun just like Eart Does.
                  With it's infared cameras this telescope deliveres pictures human never seen before

                  </p>
              </div>
            </div>
        </div>
      </div>
  </div>

  <div class="section layout_padding">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="heading">
                  <h3>Latest <span class="orange_color">News</span></h3>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <img src="/assets/fheavy_1.jpg" alt="Falcony Heavy" />
            </div>
            <div class="col-md-6">
              <div class="full blog_cont">
                  <h4>SpaceX Successfully Launches Another Falcon Heavy</h4>
                  <p>
                    Falcon Heavy is one of the most powerful rocekts to produce by SpaceX
                    Falcon heavy announced in 2011, and made it's first test flight in 2017
                    Falcon heavy consists of 3 boosters falcon 9 has
                  </p>
              </div>
            </div>
        </div>
        <div class="row margin_top_30">
            <div class="col-md-6">
              <img src="/assets/orion_1.jpg" alt="Orion Capsule" />
            </div>
            <div class="col-md-6">
              <div class="full blog_cont">
                  <h4>NASA's Orion Capsul back to Earth after a sucessful mission</h4>
                  <p>
                    After the Apollo missions in 1960s,NASA planned to revisit moon
                    with Artimis missions. As the first step, Artimis 1 was send to moon
                    with unmanned orion capsule and it's sucessfully fisniihed the mission
                </p>
              </div>
            </div>
        </div>
        <div class="row margin_top_30">
        </div>
      </div>
  </div>

  <div class="section layout_padding dark_bg">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="heading">
                  <h3>Discussions</h3>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <img src="/assets/starship_2.jpg" alt="StarShip" />
            </div>
            <div class="col-md-6">
              <div class="full blog_cont">
                  <h3 class="white_font">Why StarShip a Big Deal?</h3>
                  <p class="white_font">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Massa tempor nec feugiat nisl pretium fusce. In mollis nunc sed id semper risus in hendrerit.
                  Porttitor rhoncus dolor purus non enim praesent elementum facilisis.
                  Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio. Sit amet risus nullam eget felis eget nunc.
                  Nunc mattis enim ut tellus elementum. Odio euismod lacinia at quis risus.
                  </p>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>

<!--

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
