@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


.App {
  padding: 1rem;
}

.box {
  font-family: 'poppins', sans-serif;
  padding: 2rem;
  width: 70rem;
  height: fit-content;
  min-height: 33rem;
  border: solid 4px #000;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.messages {
  align-items: center;
  flex-grow: 1;
}

.input-div {
  display: flex;
  width: 100%;
}

/*******************************/

input {
  border-radius: 5rem 0 0 5rem;
  font-family: 'poppins', sans-serif;
  border: none;
  height: 3rem;
  width: 55rem;
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  margin-top: 3rem;
}

div button {
  color: grey;
  font-family: 'poppins', sans-serif;
  height: 3rem;
  width: 10rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 0 5rem 5rem 0;
  border: none;
  background-color: #e72929;
  color: white;
  opacity: 0.8;
  outline: none;
  transition: 0.5s;
  margin-top: 3rem;
}

div button:hover{
  opacity: 1;
  cursor: pointer;
  transition: 0.5s;
}
