
<div class="body">
  <app-title title="Chat with Community" margin="1.5rem 0 0 2.5rem"></app-title>
  <span class="roomName">Room: {{chatRoom}}</span>


  <div class="App">
    <div class="box appContainer">
      <div class="messages">
        <div *ngFor="let msg of messageList">{{msg.name}} : {{msg.message}}</div>
      </div>
      <form
        [formGroup]="messageForm"
        class="input-div"
        (submit)="submitMessage()"
      >
        <input type="text" placeholder="Message" formControlName="message" />
        <button class="send" type="submit">
          <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
          </svg>
        </button>
      </form>
    </div>

    <div class="selectChats appContainer">
      <span class="roomName">Select Chat Room</span>
      <button class="selectChatsBtn" (click)="changeRoom('General')" value="General">General</button>
      <button class="selectChatsBtn" (click)="changeRoom('Stars')" value="Stars">Starts</button>
      <button class="selectChatsBtn" (click)="changeRoom('Rockets')" value="Rockets">Rockets</button>
    </div>

  </div>

</div>
